<!DOCTYPE html>
<html>
  <head>
    <% include shared/head.ejs %>
  </head>
  <body>

    <% include shared/header.ejs %>

      <% restaurants.forEach((restaurant) => { %>
        <p>
          <a href="/speakers/<%= restaurant.path %>"><%= restaurant.name %></a>
        </p>
        <img src="<%= restaurant.images[0] %>" width="100%">

        <%- restaurant.description %>
        <%- restaurant.address %>
      <% }); %>

    <% include shared/footer.ejs %>
  </body>
</html>
